.headerMiddle_main{
    justify-content: space-around;
}
.headerMiddle_imgicon h2{
    font-size: 27px;
    color: gold;
    background: black;
    padding: 8px 24px;
    margin: 0px 26px 0px 0px;
}
.headerMiddle_liveChat{
    margin: 0px 20px;
}
.headerMiddle_liveChat img{
    width: 20px;
}
.headerMiddle_liveChat div h4{
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
.headerMiddle_liveChat div h3{
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
}
.headerMiddle_wishlist{
    margin: 0 20px;
    cursor: pointer;

}
.headerMiddle_wishlist h4{
    margin: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 500;
}
.headerMiddle_wishlist img{
   width: 20px;
   margin-right: 4px;
}